.basement
  .basement__left
    .basement__left__border
      .basement__left__border__wrapper
        .basement__left__border__wrapper__icons
          = image_tag 'logo.png',class: "logo"
  .basement__right
    .basement__right__border
      .basement__right__border__contents
        .basement__right__border__contents__users_form
          %h2 新規登録
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = render "devise/shared/error_messages", resource: resource
            .basement__body__fields__field
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email"
            .basement__body__fields__field
              = f.label :password
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} characters minimum)
              %br/
              = f.password_field :password, autocomplete: "new-password"
            .basement__body__fields__field
              = f.label :password_confirmation
              %br/
              = f.password_field :password_confirmation, autocomplete: "new-password"
            .basement__body__fields__submit
              = f.submit "Sign up"
            = render "devise/shared/links"
