.foods
  - @foods.each do |food|
    .foods__food 
      .foods__food__name
        = food.name
      .foods__food__expiration-date
        = food.expiration_date
      .foods__food__quantity
        = food.quantity
      %div{class: "foods__food__minus-sign", data: {id: "#{food.id}"}}
        - if food.quantity > 1
          =link_to "ー", "/foods/#{food.id}", method: :patch
        - else
          =link_to "ー", "/foods/#{food.id}", method: :delete