.basement
  .basement__left
    .basement__left__border
      .basement__left__border__wrapper
        .basement__left__border__wrapper__icons
          = image_tag 'plus-white', class: "basement__left__border__wrapper__icons__category_image"
          =link_to root_path, class: "basement__left__border__wrapper__icons__back" do
            = image_tag 'back-white.png', class: "basement__left__border__wrapper__icons__back__icon"
  .basement__right
    .basement__right__border
      = form_for (@food) do |f|
        = f.text_area :name, placeholder: "例：\nトマト7月22日5\nきゅうり7月20日3\n豚肉7月19日1\n牛乳7月23日10", class: "basement__right__border__text_area"
        = button_tag ""